{% if comment.isApproved %}
    <!-- Comment -->
    <div class="mb-12 flex flex-wrap md:mb-0 relative">
        {%  if app.user == comment.author %}
            <div class="comment__delete absolute right-0">
                <form name="comment_delete" method="post" action="{{ path('comment.delete', {'id': comment.id}) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                    <button type="submit" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewbox="0 0 20 20" fill="red">
                            <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </form>

            </div>
        {% endif %}
        <div class="w-full md:w-2/12 shrink-0 grow-0 basis-auto">
            <img src="{{ comment.author.avatar }}"
                 class="mb-6 w-full rounded-lg shadow-lg dark:shadow-black/20" alt="Avatar" />
        </div>

        <div class="w-full md:w-10/12 shrink-0 grow-0 basis-auto md:pl-6 mb-8">
            <p class="mb-3 font-semibold">{{ comment.author }}</p>
            <p>
                {{ comment.content|raw }}
            </p>
        </div>
    </div>
{% endif %}